# MONDAY, COVENANT IDORENYIN
# 23/EG/CO/030

In [1]:
temps = [22.5, 25.0, 19.8, 30.2, 28.1]

In [2]:
high = 0
for temp in temps:
    if temp >= 25:
        high += 1
print(high)

3

In [3]:
low = 0
for temp in temps:
    if temp < 20:
        low += 1
print(low)

1

In [4]:
i = 0
outlier = 0
while i < len(temps):
    if temps[i] >= 28:
        outlier += 1
    i += 1
print(outlier)

2

In [5]:
sum_temp = 0
count = 0
for temp in temps:
    if temp >= 25:
        sum_temp += temp
        count += 1
if count > 0:
    average = sum_temp / count
print(average)

27.76666666666667

In [6]:
mid_range = 0
for temp in temps:
    if 20 <= temp < 25:
        mid_range += 1
print(mid_range)

1

SCENARIO 2

In [7]:
categories = ["electronics", "clothing", "electronics", "books"]

In [8]:
unique = set()
for category in categories:
    unique.add(category)
print(len(unique))

3

In [9]:
i = 0
electronics_count = 0
while i < len(categories):
    if categories[i] == "electronics":
        electronics_count += 1
    i += 1
print(electronics_count)

2

In [10]:
count = 0
for _ in categories:
    count += 1
print(count)

4

In [11]:
unique_set = set()
i = 0
while i < len(categories):
    unique_set.add(categories[i])
    i += 1
print(len(unique_set))

3

In [12]:
not_books = 0
for category in categories:
    if category != "books":
        not_books += 1
print(not_books)

3

Scenario 3

In [13]:
purchases = {
    'C001': [50, 20],
    'C002': [100, 30],
    'C003': [10, 10]
}

In [14]:
count = sum(1 for v in purchases.values() if sum(v) > 50)
print(count)

2

In [15]:
all_purchases = [amt for lst in purchases.values() for amt in lst]
average = sum(all_purchases) / len(all_purchases)
print(average)

36.666666666666664

In [16]:
count = sum(1 for lst in purchases.values() if any(amt > 50 for amt in lst))
print(count)

1

In [17]:
max_purchase = max(max(lst) for lst in purchases.values())
print(max_purchase)

100

In [18]:
count = sum(1 for amt in purchases['C001'] if amt > 20)
print(count)

1