# MONDAY, COVENANT IDORENYIN
# 23/EG/CO/030

In [228]:
import numpy as np  
import pandas as pd

In [229]:
df = pd.read_csv('datasets/student_data.csv')

In [230]:
len(df)

395

In [231]:
df[df["sex"] == "F"].shape[0]

208

In [232]:
df["age"].head(5)

0    18
1    17
2    15
3    15
4    16
Name: age, dtype: int64

In [233]:
df[df["school"] == "GP"].shape[0]

349

In [234]:
df.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [235]:
df["address"].value_counts()["U"]

np.int64(307)

In [236]:
df["famsize"].value_counts()["GT3"]

np.int64(281)

In [237]:
df["reason"].unique()

array(['course', 'other', 'home', 'reputation'], dtype=object)

In [238]:
df["guardian"].value_counts()["mother"]

np.int64(273)

EXAMINING STRUCTURE AND METADATA

In [239]:
df.shape[1]

33

In [240]:
df.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [241]:
df["G3"].notnull().sum()

np.int64(395)

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [243]:
df.select_dtypes(include="object").shape[1]

17

In [244]:
df.columns.tolist()

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'studytime',
 'failures',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2',
 'G3']

In [245]:
df.select_dtypes(include=["int64", "float64"]).shape[1]

16

In [246]:
df.shape

(395, 33)

In [247]:
df.count()

school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

STATISTICAL SUMMARIZATION

In [248]:
df["G3"].mean()

np.float64(10.415189873417722)

In [249]:
df[df["studytime"] > 10].shape[0]

0

In [250]:
df["age"].min(), df["age"].max()

(np.int64(15), np.int64(22))

In [251]:
df[df["absences"] == 0].shape[0]

115

In [252]:
df["famrel"].median()

np.float64(4.0)

In [253]:
df["famrel"].median()

np.float64(4.0)

In [254]:
df["Mjob"].nunique()

5

In [255]:
df["G1"].std()

np.float64(3.319194671507669)

In [256]:
df[df["Walc"] == 5].shape[0]

28

In [257]:
df["traveltime"].mean()

np.float64(1.4481012658227848)

In [258]:
df[df["failures"] == 4].shape[0]

0

DETECTING MISSING VALUES AND ANOMALIES

In [259]:
df["G3"].isnull().sum()

np.int64(0)

In [260]:
df["internet"].isnull().sum()

np.int64(0)

In [261]:
(df.isnull().any(axis=1).sum() / len(df)) * 100

np.float64(0.0)

In [262]:
df[(df["age"] < 15) | (df["age"] > 22)].shape[0]

0

In [263]:
df.duplicated().sum()

np.int64(0)

In [264]:
df[df["absences"] > 50].shape[0]

3

In [265]:
df.isnull().sum().sort_values(ascending=False).head()

school     0
sex        0
age        0
address    0
famsize    0
dtype: int64

In [266]:
df[(df["G1"] > 20) | (df["G2"] > 20)].shape[0]

0

In [267]:
df[(df["failures"] < 0) | (df["failures"] > 4)].shape[0]

0

EXPLORING RELATIONSHIPS AND PATTERNS

In [268]:
df[(df["sex"] == "F") & (df["G3"] > 15)].shape[0]

16

In [269]:
df.groupby("school")["G3"].mean()["MS"]

np.float64(9.847826086956522)

In [270]:
df.query("studytime > 3 and G3 < 10").shape[0]

7

In [271]:
df.query("internet == 'no' and G3 > 12").shape[0]

14

In [272]:
df.groupby("famsup")["absences"].mean()["yes"]

np.float64(5.863636363636363)

In [273]:
df.query("Mjob == 'teacher' and G3 > 15").shape[0]

9

In [274]:
df["G1"].corr(df["G3"])

np.float64(0.8014679320174141)

In [275]:
df.query("traveltime > 2 and G3 < 10").shape[0]

11

In [276]:
df.groupby("higher")["G3"].mean()["yes"]

np.float64(10.608)

In [277]:
df.query("Walc > 3 and G3 < 8").shape[0]

13

In [278]:
df.query("G3 > 15")["reason"].value_counts()

reason
course        14
home          11
reputation    11
other          4
Name: count, dtype: int64

In [279]:
df.query("famsize == 'LE3' and G3 > 12").shape[0]

41

In [280]:
df.query("G3 < 10")["famrel"].mean()

np.float64(3.8846153846153846)

In [281]:
df.query("schoolsup == 'yes' and G3 < 10").shape[0]

23

In [282]:
df["studytime"].corr(df["G3"])

np.float64(0.09781968965319636)

In [283]:
df.query("address == 'R' and G3 > 15").shape[0]

7

In [284]:
df.query("G3 < 10")["goout"].mean()

np.float64(3.4)

In [285]:
df.query("paid == 'yes' and G3 > 12").shape[0]

62

In [286]:
df.query("G3 > 15")["health"].value_counts()

health
5    12
4     8
1     7
3     7
2     6
Name: count, dtype: int64

BASIC DATA SAVING

In [287]:
df.to_csv("students.csv")
len(pd.read_csv("students.csv"))

395

In [288]:
df.to_csv("students_no_index.csv", index=False)
import os
os.path.getsize("students_no_index.csv") / 1024

41.3857421875

In [289]:
df[["school", "sex", "G1", "G2", "G3"]].to_excel("grades.xlsx", index=False)

In [290]:
df.to_json("students.json", orient="records", lines=False)

In [291]:
pd.read_csv("students.csv")["sex"].head()

0    F
1    F
2    F
3    F
4    F
Name: sex, dtype: object

In [292]:
df_gp = df[df["school"] == "GP"]
df_gp.to_json("gp_students.json", orient="records")
len(df_gp)

349

In [293]:
df.to_excel("students.xlsx", index=False)
pd.read_excel("students.xlsx")["G3"].equals(df["G3"])

True